[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=dynamic shm
Type=Link
URL=https://docs.google.com/drawings/d/1qecSIhJSd0cXH8i-IW-nCap8aAcQ0VbwFcMCJY1XdIM/edit?usp=drivesdk
