[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=new serial
Type=Link
URL=https://docs.google.com/drawings/d/14DMhdEb9i8q_ki0UjEpKA_8csZUXHJjC6WedHFZOTq0/edit?usp=drivesdk
