[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=old serial
Type=Link
URL=https://docs.google.com/drawings/d/1q3RgK7__M32EjHghMSOeMSc5m8NcrD8LgIhfJbvL0Qw/edit?usp=drivesdk
