[Desktop Entry]
Icon=application-vnd.google-apps.presentation
Name=Seriald Spotlight Presentation
Type=Link
URL=https://docs.google.com/presentation/d/1A9Ox3M41v2mx2Pww_aZVDPd5TuY7cANmqaoP2dBjK8w/edit?usp=drivesdk
