[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=seriald device objects
Type=Link
URL=https://docs.google.com/drawings/d/1XAsorVCVlWPF_tZxKE7ZxDra8qzyHQR-sJWoZhA5UXE/edit?usp=drivesdk
