[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=seriald overview
Type=Link
URL=https://docs.google.com/drawings/d/12tyRJpuBMG7OuDaVblVrKYVoULPfZ7t-GZ4bT_yP9Z0/edit?usp=drivesdk
