[Desktop Entry]
Icon=application-vnd.google-apps.drawing
Name=seriald context
Type=Link
URL=https://docs.google.com/drawings/d/1d3f91i9y3FhgfLtDyOPIFKDcmKXal_bG2Ix_IEgJg28/edit?usp=drivesdk
